html {
    scroll-behavior: smooth;
}
/* *{
    box-sizing: border-box;
    overflow: hidden;
} */

:root {
    --primary-color: rgb(209, 90, 21);
    --font-family: 'Bree Serif', serif;
}

#navbar {
    display: flex;
    background-color: rgb(209, 90, 21);
    position: sticky;
}

#logo img {
    border-radius: 100%;
    padding: 0;
    margin: 5px;
    height: 59px;
    margin: 3px 6px;
}


/* #navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7; */

#navbar ul {
display: flex; 

}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul a {
    display: block;
    color: aliceblue;
    padding: 26px;
    margin-top: -19px;
    border-radius: 2px;
    text-decoration: none;
    margin-bottom: -25px;
}

#navbar ul a:hover {
    display: block;
    background-color: rgb(240, 248, 255, 0.519);
    border-radius: 10px;

    /* padding: 24px;
    margin-top: -19px;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: -25px; */
}

#home {
    display: flex; 
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;

}

#home::before {
    content: "";
    position: absolute;
    background: url(img/photo.png) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: 0.89; */

}

#home h1 {
    font-size: 3.8rem;
    font-family: 'Bree Serif', serif;

}

#home p {
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;

}

.btn {
    font-size: 30px;
    border-radius: 10px;
    background-color: var(--primary-color);
    border: 33px;
    color: white;
    padding: 6px 20px;
    border: 4px solid rgb(255, 255, 255);
    margin: 17px;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 6px 6px 1px 1px #e99954;
    transition: all .3s;
}

.btn:hover {

    box-shadow: -6px 6px 1px 1px #e99954;
    transition: all .3s;
}

#box1 {
    /* border: 2px solid red; */
    padding: 30px 8px;
    display: block;
    margin: 6px 68px;
    text-align: center;
    /* border-radius: 23px; */
    background-color: #f1dec6;
    border-block: solid #e3ab7a 7px;
    writing-mode: horizontal-tb;
}

#box1 img {
    width: 160px;
    transition: all .3s;
    border-radius: 10px;
}

#box1 img:hover {
    width: 200px;
    transition: all .3s;
    border-radius: 30px;
}

#box2 {
    /* border: 2px solid red; */
    padding: 30px 8px;
    display: block;
    margin: 6px 68px;
    text-align: center;
    /* border-radius: 23px; */
    background-color: #f1dec6;
    border-block: solid #e3ab7a 7px;
    writing-mode: horizontal-tb;
}

#box2 img {
    width: 160px;
    transition: all .3s;
    border-radius: 10px;
}

#box2 img:hover {
    width: 200px;
    transition: all .3s;
    border-radius: 30px;
}

#box3 {
    /* border: 2px solid red; */
    padding: 30px 8px;
    display: block;
    margin: 6px 68px;
    text-align: center;
    /* border-radius: 23px; */
    background-color: #f1dec6;
    border-block: solid #e3ab7a 7px;
    writing-mode: horizontal-tb;
}

#box3 img {
    width: 160px;
    transition: all .3s;
    border-radius: 10px;
}

#box3 img:hover {
    width: 200px;
    transition: all .3s;
    border-radius: 30px;
}

#service-container {
    display: flex;
    padding-top: 40px;
}

#heading {
    text-align: center;
    font-size: 50px;
    padding-top: 200px;
}

#heading {
    font-family: 'Bree Serif', serif;
}

.img1 img {
    margin-top: 36px;
    margin-left: 80px;
    width: 200px;
    height: 200px;
    border: 20px solid #e3ab7a;
    display: inline-block;
    /* box-shadow: 10px 10px 10px 10px #06ffc3; */
    transition: all .3s
}


.img2 img {
    margin-top: 36px;
    margin-left: 80px;
    width: 200px;
    height: 200px;
    border: 20px solid #e3ab7a;
    display: inline-block;
    /* box-shadow: 10px 10px 10px 10px #06ffc3; */
    transition: all .3s
}

.img1 img:hover {
    height: 500px;
    width: 800px;
    border-radius: 44px;
    border-block: solid #e3ab7a 10px;
    writing-mode: horizontal-tb;
    transition: all .3s;
}

.img2 img:hover {
    height: 800px;
    width: 800px;
    border-radius: 44px;
    border-block: solid #e3ab7a 10px;
    writing-mode: horizontal-tb;
    transition: all .3s;
}

.img3 img:hover {
    height: 800px;
    width: 800px;
    border-radius: 44px;
    border-block: solid #e3ab7a 10px;
    writing-mode: horizontal-tb;
    transition: all .3s;
}

.img4 img:hover {
    height: 800px;
    width: 800px;
    border-radius: 44px;
    border-block: solid #e3ab7a 10px;
    writing-mode: horizontal-tb;
    transition: all .3s;
}

.img5 img:hover {
    height: 500px;
    width: 800px;
    border-radius: 44px;
    border-block: solid #e3ab7a 10px;
    writing-mode: horizontal-tb;
    transition: all .3s;
}

.img6 img:hover {
    height: 800px;
    width: 800px;
    border-radius: 44px;
    border-block: solid #e3ab7a 10px;
    writing-mode: horizontal-tb;
    transition: all .3s;
}

.img7 img:hover {
    height: 500px;
    width: 800px;
    border-radius: 44px;
    border-block: solid #e3ab7a 10px;
    writing-mode: horizontal-tb;
    transition: all .3s;
}

.img8 img:hover {
    height: 500px;
    width: 800px;
    border-radius: 44px;
    border-block: solid #e3ab7a 10px;
    writing-mode: horizontal-tb;
    transition: all .3s;
}

.img9 img:hover {
    height: 500px;
    width: 800px;
    border-radius: 44px;
    border-block: solid #e3ab7a 10px;
    writing-mode: horizontal-tb;
    transition: all .3s;
}

.img10 img:hover {
    height: 800px;
    width: 800px;
    border-radius: 44px;
    border-block: solid #e3ab7a 10px;
    writing-mode: horizontal-tb;
    transition: all .3s;
}

.img11 img:hover {
    height: 500px;
    width: 800px;
    border-radius: 44px;
    border-block: solid #e3ab7a 10px;
    writing-mode: horizontal-tb;
    transition: all .3s;
}

.img12 img:hover {
    height: 800px;
    width: 800px;
    border-radius: 44px;
}

.img3 img {
    margin-top: 36px;
    margin-left: 80px;
    width: 200px;
    height: 200px;
    border: 20px solid #e3ab7a;
    display: inline-block;
    /* box-shadow: 10px 10px 10px 10px #06ffc3; */
    transition: all .3s
}

.img4 img {
    margin-top: 36px;
    margin-left: 80px;
    width: 200px;
    height: 200px;
    border: 20px solid #e3ab7a;
    display: inline-block;
    /* box-shadow: 10px 10px 10px 10px #06ffc3; */
    transition: all .3s
}

.img5 img {
    margin-top: 36px;
    margin-left: 80px;
    width: 200px;
    height: 200px;
    border: 20px solid #e3ab7a;
    display: inline-block;
    /* box-shadow: 10px 10px 10px 10px #06ffc3; */
    transition: all .3s
}

.img6 img {
    margin-top: 36px;
    margin-left: 80px;
    width: 200px;
    height: 200px;
    border: 20px solid #e3ab7a;
    display: inline-block;
    /* box-shadow: 10px 10px 10px 10px #06ffc3; */
    transition: all .3s
}

.img7 img {
    margin-top: 36px;
    margin-left: 80px;
    width: 200px;
    height: 200px;
    border: 20px solid #e3ab7a;
    display: inline-block;
    /* box-shadow: 10px 10px 10px 10px #06ffc3; */
    transition: all .3s
}

.img8 img {
    margin-top: 36px;
    margin-left: 80px;
    width: 200px;
    height: 200px;
    border: 20px solid #e3ab7a;
    display: inline-block;
    /* box-shadow: 10px 10px 10px 10px #06ffc3; */
    transition: all .3s
}

.img9 img {
    margin-top: 36px;
    margin-left: 80px;
    width: 200px;
    height: 200px;
    border: 20px solid #e3ab7a;
    display: inline-block;
    /* box-shadow: 10px 10px 10px 10px #06ffc3; */
    transition: all .3s
}

.img10 img {
    margin-top: 36px;
    margin-left: 80px;
    width: 200px;
    height: 200px;
    border: 20px solid #e3ab7a;
    display: inline-block;
    /* box-shadow: 10px 10px 10px 10px #06ffc3; */
    transition: all .3s
}

.img11 img {
    margin-top: 36px;
    margin-left: 80px;
    width: 200px;
    height: 200px;
    border: 20px solid #e3ab7a;
    display: inline-block;
    /* box-shadow: 10px 10px 10px 10px #06ffc3; */
    transition: all .3s
}

.img12 img {

    margin-top: 36px;
    margin-left: 80px;
    width: 200px;
    height: 200px;
    border: 20px solid #e3ab7a;
    display: inline-block;
    /* box-shadow: 10px 10px 10px 10px #06ffc3; */
    transition: all .3s
}


.happy {
    display: flex;
    margin-left: 70px;
}

.happy1 {
    display: flex;
    margin-left: 70px;
}

.happy2 {
    display: flex;
    margin-left: 70px;
}

.happy3 {
    display: flex;
    margin-left: 70px;
}

.ourwork {
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-family: var(--font-family);
    padding-left: 570px;
}

#form {
    align-items: center;
    text-align: center;
}

#form div {
    margin-top: 10px;
}

#name {
    margin-top: 10px;
}

#Email {
    margin-top: 10px;
}

#contact{
    margin-top: 10px;
}
section#form::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('img/photo.png') no-repeat center top/cover;
    margin-left: -762px;
    margin-top: -9px;
    height: 336px;
}
.center{
background-color: black;
color: aliceblue;
margin-top: 74px;
border-radius: 3px;
}
/* #ourwork{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('img/kim-vladislav-VHnEKKwghWE-unsplash.jpg') no-repeat center center/cover;
    margin-left: -762px;
    margin-top: -20px;
    height: 200px;
} */

#details label{
    font-size: 1.3rem;
}
#form h1{
    font-size: 50px;
}
.examples{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr ;
}
.ourwork{
    display: flex;
    align-items: center;
    text-align: center;
}
#form{
    overflow: hidden;
}